body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
}
header{
	background: linear-gradient(to right, #2e8b57, #66cdaa);
	padding: 20px; 0;
	color: white;
	text-align: center;
}
#nav_menu ul{
	list-style-type: none;
	position: relative;
}
#nav_menu ul li{
	float: left;
}
#nav_menu ul li a{
	text-align: center;
	display: block;
	width: 100%;
	padding: 1em 0;
	text-decoration: none;
	background-color: maroon;
	color: white;
	font-weight: bold;
}
#nav_menu ul li .lastitem{
	border-right: none;
}
#nav_menu ul li .current{
	color: yellow;
}
#nav_menu ul ul{
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li{
	float: left;
}
#nav_menu ul li:hover > ul{
	display: block;
}
#nav_menu > ul::after{
	content:"";
	display: block;
	clear: both;
}
footer{
  background: linear-gradient(to right, #66cdaa, #2e8b57)'
  text-align: center;
  padding: 10px 0;
  color: white;
}
