body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header{
  background: linear-gradient(to right, #2e8b57, #66cdaa);
  padding: 20px; 0;
  color: white;
  text-align: center;
}
.header-content h1{
  margin: 0;
}
.nav_menu ul{
  list-style-type: none;
  background-color: grey;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.nav_menu a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.nav_menu a:hover{
  background color: black;
}
.nav_menu li{
  float: left;
}
footer{
  background: linear-gradient(to right, #66cdaa, #2e8b57)'
  text-align: center;
  padding: 10px 0;
  color: white;
}
.content{
  display: flex;
  margin: 20px;
}
.main-content{
  flex: 3
  padding: 20px
}
.sidebar{
  flex: 1;
  background: #e9f5f1;
  padding: 20px;
  border-left: 2px solid #66cdaa;
}
.float-image{
  float: left;
  margin: 10px 20px 10px 0;
  width: 250px;
  height: auto;
}
h2{
  color: #2e8b57;
}
.sidebar ul{
  list-style: none;
  padding: 0;
}
.sidebar li{
  margin: 10px 0;
}
.sidebar a{
  text-decoration: none;
  color: #238b57;
}
.sidebar a:hover{
  text-decoration: underline;
}
